<html>
    <meta charset="UTF-8">
    <title>Computational Biology Hari Dandapani</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">
    <body>
        <br>
        <div align = "center" class = "home">
            <h2>Hari Dandapani's Computational Biology Website</h2>
            <hr>
            <h4>This is a fun exploratory project for me to test out a lot of the algorithms that we learned in my Computational Biology class at Brown University and to implement new algorithms that were briefly introduced in the class.</h4>
            <hr>

            <h4>The alignment page allows you to test out different alignment algorithms with different settings.</h4>
            <a class = "buttoner" href = "/alignment">Alignment</a>
            <br>
            <br>

            <h4>The Deterministic Finite Automata tool makes a DFA for a given string.</h4>
            <a class = "buttoner" href = "/dfa">Deterministic Finite Automata</a>
            <br>
            <br>

            <h4>The UPGMA Tool makes a UPGMA tree for a given phylogeny.</h4>
            <a class = "buttoner" href = "/upgma">UPGMA</a> 
            <br>
            <br>

            <h4>Make a suffix tree for any string.</h4>
            <a class = "buttoner" href = "/suffixtree">Suffix Tree</a>
            <br>
            <br>

            <h4>The Neighbor Joining Tool makes a Neighbor Joining graph for a phylogeny</h4>
            <a class = "buttoner" href = "/neighbor">Neighbor Joining</a>
            <br>
            <br>

            <h4>The KMP tool runs the Knuth Morris Pratt algorithm and finds the failure function.</h4>
            <a class = "buttoner" href = "/kmp">KMP</a>
            <br>
            <br>

            <h4>The Burrows-Wheeler Transform lets you try out the block-sorting compression in both the forward and inverse direction.</h4>
            <a class = "buttoner" href = "/bwt">Burrows-Wheeler Transform</a>
            <br>
            <br>
            <h4></h4>
        </div>
    </body>

</html>