<html>
    <meta charset="UTF-8">
    <title>Computational Biology Hari Dandapani</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">
    <body>
        <br>
        <div align = "center">
            <h2>Hari Dandapani's Computational Biology Website</h2>
            <h3>This is a work in progress, but I am adding a lot of computational biology algorithms and tools to this site.</h3>
            <h4>The alignment page allows you to test out different alignment algorithms including local alignment, global alignment,
            global alignment with affine gap penalty, and global alignment with logarithmic gap penalty</h4>
            <h4>It also allows you to choose your scoring scheme and what you want to optimize for your alignment.</h4> 
            <a class = "buttoner" href = "/alignment">Alignment</a>
            <br>
            <h4>The Deterministic Finite Automata tool makes a DFA for a given string.</h4>
            <a class = "buttoner" href = "/dfa">Deterministic Finite Automata</a>
        </div>
    </body>

</html>